In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler,StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split

data = {
    "Students":[4,5,1,2,5],
    "Scores":[230,123,32,111,123]
}
df = pd.DataFrame(data=data)

In [2]:
minMaxScaler = MinMaxScaler()
minMaxScaled = minMaxScaler.fit_transform(df)

print(pd.DataFrame(df,columns=["Students","Scores"]))

   Students  Scores
0         4     230
1         5     123
2         1      32
3         2     111
4         5     123

In [3]:
standardScaler = StandardScaler()
standardScaled = standardScaler.fit_transform(df)

print(pd.DataFrame(df,columns=["Students","Scores"]))

   Students  Scores
0         4     230
1         5     123
2         1      32
3         2     111
4         5     123

In [4]:
x = df["Students"]
y = df["Scores"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
print(f"Shape of X_train: {x_train.shape}")
print(f"Shape of X_test: {x_test.shape}")
print(f"Shape of y_train: {y_train.shape}")
print(f"Shape of y_test: {y_test.shape}")

Shape of X_train: (4,)
Shape of X_test: (1,)
Shape of y_train: (4,)
Shape of y_test: (1,)

In [13]:
data = pd.read_csv("sample_data.csv")
df_label = data.copy()

le = LabelEncoder()
df_label["Gender_Encoded"] = le.fit_transform(df_label["Gender"])
df_label["Passed_Encoded"] = le.fit_transform(df_label["Passed"])
print(df_label)

      Name  Gender       City Passed  Gender_Encoded  Passed_Encoded
0     Aman    Male      Delhi    Yes               1               1
1    Priya  Female     Mumbai    Yes               0               1
2    Rahul    Male  Bangalore     No               1               0
3   Anjali  Female     Mumbai    Yes               0               1
4     Ravi    Male      Delhi    Yes               1               1
5    Meera  Female    Chennai     No               0               0
6    Arjun    Male  Bangalore    Yes               1               1
7     Neha  Female      Delhi    Yes               0               1
8    Imran    Male    Chennai     No               1               0
9    Sneha  Female     Mumbai    Yes               0               1
10     Raj    Male    Chennai    Yes               1               1
11   Divya  Female      Delhi     No               0               0
12   Kabir    Male     Mumbai    Yes               1               1
13  Simran  Female  Bangalore    Yes               0               1
14   Karan    Male      Delhi     No               1               0
15   Pooja  Female     Mumbai    Yes               0               1
16  Rakesh    Male    Chennai    Yes               1               1
17    Isha  Female      Delhi     No               0               0
18   Rohit    Male      Delhi    Yes               1               1
19   Deepa  Female  Bangalore    Yes               0               1

In [12]:
onehot = pd.get_dummies(df_label,columns=["City"])
print(onehot)

      Name  Gender Passed  Gender_Encoded  City_Bangalore  City_Chennai  \
0     Aman    Male    Yes               1           False         False
1    Priya  Female    Yes               0           False         False
2    Rahul    Male     No               1            True         False
3   Anjali  Female    Yes               0           False         False
4     Ravi    Male    Yes               1           False         False
5    Meera  Female     No               0           False          True
6    Arjun    Male    Yes               1            True         False
7     Neha  Female    Yes               0           False         False
8    Imran    Male     No               1           False          True
9    Sneha  Female    Yes               0           False         False
10     Raj    Male    Yes               1           False          True
11   Divya  Female     No               0           False         False
12   Kabir    Male    Yes               1           False         False
13  Simran  Female    Yes               0            True         False
14   Karan    Male     No               1           False         False
15   Pooja  Female    Yes               0           False         False
16  Rakesh    Male    Yes               1           False          True
17    Isha  Female     No               0           False         False
18   Rohit    Male    Yes               1           False         False
19   Deepa  Female    Yes               0            True         False

    City_Delhi  City_Mumbai
0         True        False
1        False         True
2        False        False
3        False         True
4         True        False
5        False        False
6        False        False
7         True        False
8        False        False
9        False         True
10       False        False
11        True        False
12       False         True
13       False        False
14        True        False
15       False         True
16       False        False
17        True        False
18        True        False
19       False        False