In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

data = pd.read_csv("sample_data2.csv")
df_label = data.copy()

le = LabelEncoder()
df_label["Gender_Encoded"] = le.fit_transform(df_label["Gender"])

print(df_label[["Gender","Gender_Encoded"]])

   Gender  Gender_Encoded
0    Male               1
1  Female               0
2    Male               1
3  Female               0
4    Male               1
5  Female               0
6    Male               1
7  Female               0
8    Male               1
9  Female               0

In [4]:
data = pd.get_dummies(df_label,columns=["Department"])
print(data)

   ID             Name  Age  Gender  Salary JoiningDate  Gender_Encoded  \
0   1       John Smith   29    Male   75000  2020-03-15               1
1   2    Sarah Johnson   34  Female   68000  2019-07-01               0
2   3    Michael Brown   41    Male   82000  2018-11-20               1
3   4      Emily Davis   26  Female   72000  2021-06-10               0
4   5     David Wilson   37    Male   65000  2017-09-05               1
5   6     Linda Taylor   30  Female   77000  2020-01-22               0
6   7   James Anderson   45    Male   91000  2015-05-18               1
7   8  Patricia Thomas   28  Female   64000  2022-02-12               0
8   9   Robert Jackson   32    Male   70000  2019-10-30               1
9  10    Barbara White   39  Female   73000  2016-12-03               0

   Department_Engineering  Department_Finance  Department_Human Resources  \
0                    True               False                       False
1                   False               False                       False
2                   False                True                       False
3                    True               False                       False
4                   False               False                        True
5                    True               False                       False
6                   False                True                       False
7                   False               False                       False
8                   False               False                       False
9                   False               False                       False

   Department_Marketing  Department_Sales
0                 False             False
1                  True             False
2                 False             False
3                 False             False
4                 False             False
5                 False             False
6                 False             False
7                  True             False
8                 False              True
9                 False              True

In [10]:
data = {
    'StudyHours':[1,2,3,4,5],
    'TestScore':[40,50,60,70,80]
}
df = pd.DataFrame(data=data)

standard_scaler = StandardScaler()
standard_scaled = standard_scaler.fit_transform(df)

print(pd.DataFrame(standard_scaled,columns=["StudyHours","TestScore"]))

   StudyHours  TestScore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214

In [11]:
minMax_scaler = MinMaxScaler()
minMax_scaled = minMax_scaler.fit_transform(df)

print(pd.DataFrame(minMax_scaled,columns=["StudyHours","TestScore"]))

   StudyHours  TestScore
0        0.00       0.00
1        0.25       0.25
2        0.50       0.50
3        0.75       0.75
4        1.00       1.00

In [13]:
x = df["StudyHours"]
y = df["TestScore"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
print(f"Shape of X_train: {x_train.shape}")
print(f"Shape of X_test: {x_test.shape}")
print(f"Shape of y_train: {y_train.shape}")
print(f"Shape of y_test: {y_test.shape}")

Shape of X_train: (4,)
Shape of X_test: (1,)
Shape of y_train: (4,)
Shape of y_test: (1,)